.post-body .note {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: $whitesmoke;
}
.post-body .note h2,
.post-body .note h3,
.post-body .note h4,
.post-body .note h5,
.post-body .note h6 {
  margin-top: 3px;
  margin-bottom: 0;
  border-bottom: initial;
  padding-top: 0 !important;
}
.post-body .note p:first-child,
.post-body .note ul:first-child,
.post-body .note ol:first-child,
.post-body .note table:first-child,
.post-body .note pre:first-child,
.post-body .note blockquote:first-child {
  margin-top: 0;
}
.post-body .note p:last-child,
.post-body .note ul:last-child,
.post-body .note ol:last-child,
.post-body .note table:last-child,
.post-body .note pre:last-child,
.post-body .note blockquote:last-child {
  margin-bottom: 0;
}
.post-body .note:not(.no-icon) {
  padding-left: 45px;
}
.post-body .note:not(.no-icon):before {
  position: absolute;
  font-family: 'FontAwesome';
  font-size: larger;
  top: 13px;
  left: 15px;
}
.post-body .note.default {
  background-color: $note-modern-default-bg;
  border-color: $note-modern-default-border;
  color: $note-modern-default-text;
}
.post-body .note.default:not(.no-icon):before {
  content: $note-default-icon;
}
.post-body .note.default a {
  color: $note-modern-default-text;
  border-bottom: 1px solid $note-modern-default-text;
}
.post-body .note.default a:hover {
  color: $note-modern-default-hover;
  border-bottom: 1px solid $note-modern-default-hover;
}
.post-body .note.primary {
  background-color: $note-modern-primary-bg;
  border-color: $note-modern-primary-border;
  color: $note-modern-primary-text;
}
.post-body .note.primary:not(.no-icon):before {
  content: $note-primary-icon;
}
.post-body .note.primary a {
  color: $note-modern-primary-text;
  border-bottom: 1px solid $note-modern-primary-text;
}
.post-body .note.primary a:hover {
  color: $note-modern-primary-hover;
  border-bottom: 1px solid $note-modern-primary-hover;
}
.post-body .note.info {
  background-color: $note-modern-info-bg;
  border-color: $note-modern-info-border;
  color: $note-modern-info-text;
}
.post-body .note.info:not(.no-icon):before {
  content: $note-info-icon;
}
.post-body .note.info a {
  color: $note-modern-info-text;
  border-bottom: 1px solid $note-modern-info-text;
}
.post-body .note.info a:hover {
  color: $note-modern-info-hover;
  border-bottom: 1px solid $note-modern-info-hover;
}
.post-body .note.success {
  background-color: $note-modern-success-bg;
  border-color: $note-modern-success-border;
  color: $note-modern-success-text;
}
.post-body .note.success:not(.no-icon):before {
  content: $note-success-icon;
}
.post-body .note.success a {
  color: $note-modern-success-text;
  border-bottom: 1px solid $note-modern-success-text;
}
.post-body .note.success a:hover {
  color: $note-modern-success-hover;
  border-bottom: 1px solid $note-modern-success-hover;
}
.post-body .note.warning {
  background-color: $note-modern-warning-bg;
  border-color: $note-modern-warning-border;
  color: $note-modern-warning-text;
}
.post-body .note.warning:not(.no-icon):before {
  content: $note-warning-icon;
}
.post-body .note.warning a {
  color: $note-modern-warning-text;
  border-bottom: 1px solid $note-modern-warning-text;
}
.post-body .note.warning a:hover {
  color: $note-modern-warning-hover;
  border-bottom: 1px solid $note-modern-warning-hover;
}
.post-body .note.danger {
  background-color: $note-modern-danger-bg;
  border-color: $note-modern-danger-border;
  color: $note-modern-danger-text;
}
.post-body .note.danger:not(.no-icon):before {
  content: $note-danger-icon;
}
.post-body .note.danger a {
  color: $note-modern-danger-text;
  border-bottom: 1px solid $note-modern-danger-text;
}
.post-body .note.danger a:hover {
  color: $note-modern-danger-hover;
  border-bottom: 1px solid $note-modern-danger-hover;
}
