.post-body .tabs {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-top: 10px;
}
.post-body .tabs ul.nav-tabs {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: -1px;
mobile-smallest()
}
.post-body .tabs ul.nav-tabs li.tab {
  list-style-type: none !important;
  margin: 0 0.25em 0 0;
  border-top: 3px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
mobile-smallest()
}
.post-body .tabs ul.nav-tabs li.tab a {
  outline: 0;
  border-bottom: initial;
  display: block;
  line-height: 1.8em;
  padding: 0.25em 0.75em;
}
.post-body .tabs ul.nav-tabs li.tab a i {
  width: 1.285714285714286em;
}
.post-body .tabs ul.nav-tabs li.tab.active {
  border-top: 3px solid $orange;
  border-left: 1px solid $table-border-color;
  border-right: 1px solid $table-border-color;
  background-color: #fff;
mobile-smallest()
}
.post-body .tabs ul.nav-tabs li.tab.active a {
  cursor: default;
  color: $link-color;
}
.post-body .tabs .tab-content {
  background-color: #fff;
}
.post-body .tabs .tab-content .tab-pane {
  border: 1px solid $table-border-color;
  padding: 20px 20px 0 20px;
}
