.posts-expand .post-meta {
  margin: 3px 0 60px 0;
  color: $grey-dark;
  font-family: $font-family-posts;
  font-size: 12px;
  text-align: center;
}
.posts-expand .post-meta .post-category-list {
  display: inline-block;
  margin: 0;
  padding: 3px;
}
.posts-expand .post-meta .post-category-list-link {
  color: $grey-dark;
}
.posts-expand .post-meta .post-description {
  font-size: 14px;
  margin-top: 2px;
}
.post-meta-divider {
  margin: 0 0.5em;
}
.post-meta-item-icon {
  margin-right: 3px;
tablet()
mobile()
}
